.App {
  max-width: 960px;
  margin: 0 auto;
}
.App .App-footer {
  text-align: center;
  margin: 30px 0;
}
.Phonetic a {
  color: rgb(255, 165, 61);
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  margin-right: 10px;
}
.Phonetic a:hover {
  background: rgb(255, 165, 61);
  color: white;
}
.Phonetic {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.Phonetic .text {
  opacity: 0.75;
}
.Meaning .example {
  opacity: 0.7;
  font-style: italic;
}
.Synonyms li {
  display: inline-block;
  padding-right: 4px;
}
.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}
.Photos img {
  border-radius: 4px;
}
