.Dictionary h1 {
  text-align: center;
  margin: 40px 0 10px 0;
}
.Dictionary form {
  text-align: center;
}
.Dictionary input {
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  border: 1px solid #ddd;
  color: #333;
}

.Dictionary section {
  padding: 30px;
  box-shadow: 0 5px 15px rgb(0 0 0 /10%);
  border-radius: 8px;
  margin: 20px 0;
}
